menu "Telephony options"
	depends on MV_INCLUDE_TDM

config  MV_PHONE
	bool "Support for Marvell telephony(VoIP)"
	depends on MV_INCLUDE_TDM && PHONE
	default y
	---help---
	  Choosing this option enables the Marvell telephony underlying 
	  support for various VoIP applications. 
	  Note, kernel Telephony subsystem must be chosen too.

choice 
	prompt "TDM Unit"
	depends on MV_PHONE
	default MV_TDM_SUPPORT

config MV_TDM_SUPPORT
	bool "Support legacy TDM(2 channels)"

config MV_COMM_UNIT_SUPPORT
	depends on ARCH_FEROCEON_KW2
	bool "Support CommUnit(up to 32 channels)"

endchoice

choice 
	prompt "SLIC Vendor"
	depends on MV_PHONE
	default ZARLINK_SLIC_SUPPORT

config SILABS_SLIC_SUPPORT
	bool "Support Silicon Labs devices"

config ZARLINK_SLIC_SUPPORT
	bool "Support Zarlink/Legirity devices"

endchoice

choice 
	prompt "SLIC Device"
	depends on MV_PHONE && SILABS_SLIC_SUPPORT

config SILAB_SLIC_SI3226x
	bool "Support Silicon Labs 3226x device"
	
config SILAB_SLIC_SI3217x
	bool "Support Silicon Labs 3217x device"

endchoice

choice 
	prompt "SLIC Device"
	depends on MV_PHONE && ZARLINK_SLIC_SUPPORT
	default ZARLINK_SLIC_VE880

config ZARLINK_SLIC_VE880
	bool "Support Zarlink VE880 SLIC family"

config ZARLINK_SLIC_VE890
	bool "Support Zarlink VE890 SLIC family"

config ZARLINK_SLIC_VE792
	bool "Support Zarlink VE792 SLIC family"

endchoice

choice 
	prompt "PCM Clock Frequency"
	depends on MV_PHONE
	default MV_TDM_PCM_CLK_8MHZ
	---help---
	This menu selects the PCM clock frequency generated by the TDM master.
	SLIC should be configured accordingly in order to maintain bus coherency.
 
config MV_TDM_PCM_CLK_8MHZ
	bool "Support 8MHz PCM clock"

config MV_TDM_PCM_CLK_4MHZ
	bool "Support 4MHz PCM clock"

config MV_TDM_PCM_CLK_2MHZ
	bool "Support 2MHz PCM clock"

endchoice

choice 
	prompt "TDM Clock Source"
	depends on MV_PHONE
	default MV_TDM_USE_INTERNAL_PCLK_SOURCE

config MV_TDM_USE_INTERNAL_PCLK_SOURCE
	bool "Support PCLK internally generated"

config MV_TDM_USE_EXTERNAL_PCLK_SOURCE
	bool "Support PCLK from external source"

config MV_TDM_USE_DCO
	bool "Support PCLK from DCO enabled PLL"

endchoice

choice 
	prompt "TDM voice processing"
	depends on MV_PHONE
	default MV_TDM_DUMMY

config MV_TDM_DUMMY
	bool "Support TDM voice processing in softIRQ"

config MV_PHONE_USE_IRQ_PROCESSING
	bool "Support TDM voice processing in IRQ"

config MV_PHONE_USE_FIQ_PROCESSING
	bool "Support TDM voice processing in FIQ"

endchoice

config MV_PHONE_USE_SLIC_LIBS
	bool "Use binary SLIC drivers"
	depends on MV_PHONE
	default y
	---help---
	Unselect this option only if you have source code of SLIC drivers.
	If unsure, say "y"

config MV_TDM_EXT_STATS
	bool "Enable legacy TDM extended statistics"
	depends on MV_TDM_SUPPORT
	default n
	---help---
	Choosing this option will export extended statistics to procfs.
	This is relevant only for the legacy TDM unit.

endmenu
